Options -Indexes

<FilesMatch "^\.env$">
    Require all denied
</FilesMatch>

RewriteEngine On

RewriteRule ^config/ - [F,L]
RewriteRule ^includes/ - [F,L]
RewriteRule ^database/ - [F,L]
RewriteRule ^vendor/ - [F,L]
RewriteRule ^cron/ - [F,L]
RewriteRule ^composer\.json$ - [F,L]
RewriteRule ^\.git - [F,L]
